[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/npaul/Desktop/pytorch.png]
row=4
col=1

[/home/npaul/Desktop/161.png]
row=1
col=3

[/home/npaul/Desktop/kitty.png]
row=8
col=1

[/home/npaul/Desktop/fuzz_good_examples]
row=5
col=0

[/home/npaul/Desktop/index1000.png]
row=4
col=2

[/home/npaul/Desktop/figures]
row=1
col=4

[/home/npaul/Desktop/headshot.jpg]
row=1
col=2

[/home/npaul/Desktop/test.hpp]
row=6
col=0

[/home/npaul/Desktop/dql]
row=8
col=2

[/home/npaul/Desktop/FiraCode-Regular.ttf]
row=4
col=0

[/home/npaul/Desktop/ISOLATE Tech Final.pdf]
row=0
col=2

[/home/npaul/Desktop/all.png]
row=2
col=2

[/home/npaul/Desktop/dqlss]
row=0
col=3

[/home/npaul/Desktop/Database.kdbx]
row=3
col=1

[/home/npaul/Desktop/square.ttf]
row=2
col=1

[/home/npaul/Desktop/Screenshot from 2019-01-23 12-23-32.png]
row=6
col=2

[/home/npaul/Desktop/fuzz]
row=0
col=4

[/home/npaul/Desktop/rlice_backup_jan_14.tar.gz]
row=7
col=0

[/home/npaul/Desktop/ISOLATE Tech Final.docx]
row=1
col=1

[/home/npaul/Desktop/.~lock.ISOLATE Tech Final.docx#]
row=7
col=1

[/home/npaul/Desktop/boot_mode.txt]
row=8
col=0

[/home/npaul/Desktop/300 (copy 1).png]
row=5
col=1

[/home/npaul/Desktop/fractal.jpg]
row=6
col=1

[/home/npaul/Desktop/Qbefore]
row=3
col=0

[/home/npaul/Desktop/projects.png]
row=5
col=2

[/home/npaul/Desktop/index.png]
row=7
col=2

[/home/npaul/Desktop/rlice_backup]
row=6
col=3

[/home/npaul/Desktop/Qafter.png]
row=0
col=1

[/home/npaul/Desktop/Object Selection.ods]
row=3
col=2

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/npaul]
row=2
col=0

