[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/npaul/Desktop/renders (copy)]
row=1
col=3

[/home/npaul/Desktop/renders]
row=3
col=4

[/home/npaul/Desktop/fuzz_examples]
row=7
col=3

[/home/npaul/Desktop/will_out.png]
row=4
col=1

[/home/npaul/Desktop/dozers.png]
row=14
col=0

[/home/npaul/Desktop/dozer_renders]
row=4
col=4

[/home/npaul/Desktop/Bulldozer.png]
row=6
col=2

[/home/npaul/Desktop/rlice_backup_jan_14.tar.gz]
row=17
col=0

[/home/npaul/Desktop/blender-multi.py]
row=13
col=0

[/home/npaul/Desktop/Bulldozer B10]
row=5
col=2

[/home/npaul/Desktop/Prohibition_of_Harassment_Policy.pdf]
row=4
col=2

[/home/npaul/Desktop/square.ttf]
row=2
col=1

[/home/npaul/Desktop/rlice_backup]
row=6
col=3

[/home/npaul/Desktop/Good Renders]
row=8
col=2

[/home/npaul/Desktop/blend_test.png]
row=4
col=3

[/home/npaul/Desktop/fuzz]
row=0
col=4

[/home/npaul/Desktop/will_out2.png]
row=5
col=3

[/home/npaul/Desktop/image.png]
row=8
col=1

[/home/npaul/Desktop/stats.pdf]
row=5
col=1

[/home/npaul/Desktop/blending_issue]
row=15
col=0

[/home/npaul/Desktop/377.tif]
row=1
col=1

[/home/npaul/Desktop/julia-1.0.3]
row=0
col=3

[/home/npaul/Desktop/boot_mode.txt]
row=18
col=0

[/home/npaul/Desktop/AT1 - Nicholas Paul.pdf]
row=0
col=2

[/home/npaul/Desktop/img_30.png]
row=8
col=3

[/home/npaul/Desktop/432.tif]
row=1
col=4

[/home/npaul/Desktop/Screenshot from 2019-01-11 12-33-54.png]
row=2
col=2

[/home/npaul/Desktop/18.tif]
row=2
col=3

[/home/npaul/Desktop/combine_examples]
row=7
col=2

[/home/npaul/Desktop/Nicholas Paul - Harassment Certificate.pdf]
row=7
col=1

[/home/npaul/Desktop/Database.kdbx]
row=3
col=1

[/home/npaul/Desktop/blender.py]
row=3
col=3

[/home/npaul/Desktop/Object Selection.ods]
row=3
col=2

[/home/npaul/Desktop/Complaint_Investigation_Procedure_Harassment_Discrimination_Violence5.18.pdf]
row=16
col=0

[/home/npaul/Desktop/bulldozers.png]
row=0
col=1

[/home/npaul/Desktop/240]
row=2
col=4

[/home/npaul/Desktop/headshot.jpg]
row=1
col=2

[/home/npaul/Desktop/fractal.jpg]
row=6
col=1

[Trash]
row=19
col=0

[/]
row=11
col=0

[/home/npaul]
row=12
col=0

