[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/npaul/Desktop/ROS-Logo-.png]
row=7
col=1

[/home/npaul/Desktop/fooled_net.txt]
row=9
col=0

[/home/npaul/Desktop/ISOLATE Tech Final.pdf]
row=0
col=2

[/home/npaul/Desktop/mount.png]
row=0
col=1

[/home/npaul/Desktop/filters.py]
row=8
col=4

[/home/npaul/Desktop/Screenshot from 2019-02-27 15-37-46.png]
row=14
col=0

[/home/npaul/Desktop/previews_150]
row=3
col=0

[/home/npaul/Desktop/notes.md]
row=2
col=4

[/home/npaul/Desktop/dql]
row=8
col=2

[/home/npaul/Desktop/ISOLATE Tech Final.docx]
row=1
col=1

[/home/npaul/Desktop/fpn_run_1.txt]
row=7
col=5

[/home/npaul/Desktop/Screenshot from 2019-03-04 09-39-03.png]
row=5
col=0

[/home/npaul/Desktop/boot_mode.txt]
row=8
col=0

[/home/npaul/Desktop/1580.tif]
row=6
col=4

[/home/npaul/Desktop/AT1 - Nicholas Paul.pdf]
row=6
col=0

[/home/npaul/Desktop/soar_tutorial]
row=5
col=2

[/home/npaul/Desktop/soar.vim]
row=4
col=3

[/home/npaul/Desktop/config.json]
row=13
col=0

[/home/npaul/Desktop/hello.jl]
row=12
col=0

[/home/npaul/Desktop/blacklist-nouveau.conf]
row=2
col=2

[/home/npaul/Desktop/fpn.sh]
row=2
col=1

[/home/npaul/Desktop/Database.kdbx]
row=3
col=1

[/home/npaul/Desktop/stats.ods]
row=7
col=2

[/home/npaul/Desktop/Screenshot from 2019-03-04 09-37-34.png]
row=4
col=1

[/home/npaul/Desktop/pytorch_dqn]
row=4
col=0

[/home/npaul/Desktop/converge_1.txt]
row=7
col=0

[/home/npaul/Desktop/Object Selection.ods]
row=3
col=2

[/home/npaul/Desktop/dqlss]
row=0
col=3

[/home/npaul/Desktop/builddir]
row=10
col=0

[/home/npaul/Desktop/headshot.jpg]
row=1
col=2

[/home/npaul/Desktop/NSS.html]
row=11
col=0

[/home/npaul/Desktop/detector-net]
row=7
col=3

[/home/npaul/Desktop/fractal.jpg]
row=6
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/npaul]
row=2
col=0

