[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/npaul/Desktop/builddir]
row=10
col=5

[/home/npaul/Desktop/soar.vim]
row=10
col=4

[/home/npaul/Desktop/_renders]
row=19
col=4

[/home/npaul/Desktop/ROS-Logo-.png]
row=12
col=2

[/home/npaul/Desktop/fooled_net.txt]
row=15
col=1

[/home/npaul/Desktop/hfs 4.21.tar]
row=16
col=4

[/home/npaul/Desktop/bson]
row=13
col=4

[/home/npaul/Desktop/Untitled Document 1]
row=11
col=4

[/home/npaul/Desktop/ISOLATE Tech Final.pdf]
row=10
col=1

[/home/npaul/Desktop/mount.png]
row=17
col=2

[/home/npaul/Desktop/filters.py]
row=16
col=0

[/home/npaul/Desktop/changes]
row=12
col=4

[/home/npaul/Desktop/boat.png]
row=16
col=1

[/home/npaul/Desktop/Screenshot from 2019-02-27 15-37-46.png]
row=10
col=3

[/home/npaul/Desktop/etc.modprobe.d.blacklist.conf]
row=17
col=0

[/home/npaul/Desktop/unreal crash.bt.txt]
row=15
col=2

[/home/npaul/Desktop/previews_150]
row=11
col=5

[/home/npaul/Desktop/best]
row=13
col=3

[/home/npaul/Desktop/notes.md]
row=17
col=3

[/home/npaul/Desktop/dql]
row=17
col=4

[/home/npaul/Desktop/Image Spec Demo.html]
row=16
col=2

[/home/npaul/Desktop/ISOLATE Tech Final.docx]
row=11
col=1

[/home/npaul/Desktop/best_dozers.zip]
row=15
col=0

[/home/npaul/Desktop/boat_small.png]
row=14
col=1

[/home/npaul/Desktop/fpn_run_1.txt]
row=17
col=1

[/home/npaul/Desktop/Screenshot from 2019-03-04 09-39-03.png]
row=10
col=2

[/home/npaul/Desktop/boot_mode.txt]
row=11
col=2

[/home/npaul/Desktop/IMG_0092.JPG]
row=14
col=0

[/home/npaul/Desktop/AT1 - Nicholas Paul.pdf]
row=14
col=2

[/home/npaul/Desktop/soar_tutorial]
row=18
col=4

[/home/npaul/Desktop/index.png]
row=18
col=3

[/home/npaul/Desktop/1580.tif]
row=13
col=0

[/home/npaul/Desktop/18]
row=13
col=2

[/home/npaul/Desktop/hello.jl]
row=19
col=2

[/home/npaul/Desktop/config.json]
row=16
col=3

[/home/npaul/Desktop/blacklist-nouveau.conf]
row=14
col=4

[/home/npaul/Desktop/11.png]
row=19
col=0

[/home/npaul/Desktop/fpn.sh]
row=18
col=1

[/home/npaul/Desktop/stats.ods]
row=12
col=3

[/home/npaul/Desktop/Database.kdbx]
row=19
col=3

[/home/npaul/Desktop/Object Selection.ods]
row=13
col=1

[/home/npaul/Desktop/pytorch_dqn]
row=12
col=5

[/home/npaul/Desktop/converge_1.txt]
row=18
col=0

[/home/npaul/Desktop/Screenshot from 2019-03-04 09-37-34.png]
row=15
col=3

[/home/npaul/Desktop/dqlss]
row=14
col=3

[/home/npaul/Desktop/features]
row=19
col=1

[/home/npaul/Desktop/headshot.jpg]
row=11
col=3

[/home/npaul/Desktop/NSS.html]
row=12
col=1

[/home/npaul/Desktop/detector-net]
row=15
col=4

[/home/npaul/Desktop/fractal.jpg]
row=18
col=2

[Trash]
row=10
col=0

[/]
row=11
col=0

[/home/npaul]
row=12
col=0

