[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/npaul/Desktop/stats.pdf]
row=4
col=0

[/home/npaul/Desktop/image.png]
row=6
col=0

[/home/npaul/Desktop/headshot.jpg]
row=8
col=0

[/home/npaul/Desktop/NVIDIA-Linux-x86_64-410.93.run]
row=3
col=0

[/home/npaul/Desktop/blender.py]
row=15
col=0

[/home/npaul/Desktop/square.ttf]
row=11
col=0

[/home/npaul/Desktop/Database.kdbx]
row=12
col=0

[/home/npaul/Desktop/AT1 - Nicholas Paul.pdf]
row=7
col=0

[/home/npaul/Desktop/Bulldozer.png]
row=13
col=0

[/home/npaul/Desktop/bulldozers.png]
row=10
col=0

[/home/npaul/Desktop/blend_test.png]
row=16
col=0

[/home/npaul/Desktop/fractal.jpg]
row=5
col=0

[/home/npaul/Desktop/18.tif]
row=14
col=0

[/home/npaul/Desktop/boot_mode.txt]
row=17
col=0

[/home/npaul/Desktop/Object Selection.ods]
row=9
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/npaul]
row=2
col=0

