[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/npaul/Desktop/pytorch.png]
row=4
col=1

[/home/npaul/Desktop/soar_tutorial]
row=5
col=2

[/home/npaul/Desktop/fish.png]
row=8
col=1

[/home/npaul/Desktop/headshot.jpg]
row=1
col=2

[/home/npaul/Desktop/test.hpp]
row=6
col=0

[/home/npaul/Desktop/dql]
row=8
col=2

[/home/npaul/Desktop/soar.vim]
row=4
col=3

[/home/npaul/Desktop/ISOLATE Tech Final.pdf]
row=0
col=2

[/home/npaul/Desktop/dqlss]
row=0
col=3

[/home/npaul/Desktop/Database.kdbx]
row=3
col=1

[/home/npaul/Desktop/fuzz]
row=0
col=4

[/home/npaul/Desktop/pytorch_dqn]
row=4
col=0

[/home/npaul/Desktop/mount.png]
row=0
col=1

[/home/npaul/Desktop/rlice_backup_jan_14.tar.gz]
row=7
col=0

[/home/npaul/Desktop/ISOLATE Tech Final.docx]
row=1
col=1

[/home/npaul/Desktop/.~lock.ISOLATE Tech Final.docx#]
row=7
col=1

[/home/npaul/Desktop/boot_mode.txt]
row=8
col=0

[/home/npaul/Desktop/dyn_reconf_tabs.png]
row=5
col=1

[/home/npaul/Desktop/fractal.jpg]
row=6
col=1

[/home/npaul/Desktop/map.bmp]
row=6
col=2

[/home/npaul/Desktop/previews_150]
row=3
col=0

[/home/npaul/Desktop/rosgraph.png]
row=4
col=2

[/home/npaul/Desktop/Screenshot from 2019-01-29 11-00-15.png]
row=2
col=1

[/home/npaul/Desktop/Object Selection.ods]
row=3
col=2

[/home/npaul/Desktop/fuzz_good_examples]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/npaul]
row=2
col=0

